# Исключить сборки и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Исключить файлы, которые не нужны в гите
.dockerignore
Dockerfile
docker-compose.yml
.env
clinic_data_sync.tar
known_patients.json


# Исключить виртуальное окружение
.venv
venv/

# Исключить системные файлы IDE
.idea/
.vscode/

# Исключить логи и отчёты
logs/
log/
output/
*.log
*.csv
*.xlsx
*.pdf

